<h1>Listing skill_relevances</h1>

<table>

  <tbody>
    <tr>
      <td>  Score </td>
      <td>  Skill </td>
      <td>  Specialization </td>
      <td> Show </td>
      <td> Edit </td>
      <td> Destroy </td>
    </tr>
    <% @skill_relevances.each do |skill_relevance| %>
      <tr>
        <td align = 'center'>  <%=skill_relevance.score%> </td>
        <td align = 'center'>  <%=skill_relevance.skill.name%> </td>
        <td align = 'center'>  <%=skill_relevance.specialization.name%> </td>
        <td><%= link_to 'Show', skill_relevance %></td>
        <td><%= link_to 'Edit', edit_skill_relevance_path(skill_relevance) %></td>
        <td><%= link_to 'Destroy', skill_relevance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Skill relevance', new_skill_relevance_path %>
