<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @roles_user.user_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @roles_user.role_id %>
</p>

<%= link_to 'Edit', edit_roles_user_path(@roles_user) %> |
<%= link_to 'Back', roles_users_path %>
