<%= form_for(@position_skill) do |f| %>
  <% if @position_skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@position_skill.errors.count, "error") %> prohibited this position_skill from being saved:</h2>

      <ul>
      <% @position_skill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= collection_select(:position_skill, :position_id, Position.all, :id, :name,
       {prompt: 'Selecione um cargo'}, {class: 'chosen-select'}) %>
  </div>

  <div class="field">
    <%= collection_select(:position_skill, :level_id, Level.all, :id, :name,
       {prompt: 'Selecione um nível'}, {class: 'chosen-select'}) %>
  </div>

  <div class="field">
    <%= collection_select(:position_skill, :skill_id, Skill.all, :id, :name,
       {prompt: 'Selecione uma competência'}, {class: 'chosen-select'}) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
