<h1>Listing position_skills</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @position_skills.each do |position_skill| %>
      <tr>
        <td><%= position_skill.position.name %></td>
        <td><%= position_skill.level.name %></td>

        <td><%= link_to 'Show', position_skill %></td>
        <td><%= link_to 'Edit', edit_position_skill_path(position_skill) %></td>
        <td><%= link_to 'Destroy', position_skill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Position skill', new_position_skill_path %>
