<p id="notice"><%= notice %></p>

  <td><%= @position_skill.position.name %></td>
  <td><%= @position_skill.level.name %></td>

<%= link_to 'Edit', edit_position_skill_path(@position_skill) %> |
<%= link_to 'Back', position_skills_path %>
